<!DOCTYPE html>
    <html>
        <head>
            <title>Login Page </title>
            <meta charset="utf-8">
           
            <link rel="stylesheet" href="../assets/css/home.css">
            <script src="../js/myday.js"></script>
        </head>
        <body>
        <div>
            <form method="post" action="home.html" class="box">
                <h1>Welcome Back</h1>
            <input type="text" name="" placeholder="Enter user name or email" id="username" required></br></br>
            <input type="password" name="" placeholder="Password" id="password" required>
            <input type="submit" value="Login" onclick="validate()">
            </form>
        </div>
        <div class="div">
            <a href="daylist.html"><button class="getButton btn">Come here </button></a>
        </div>
        </body>
        
    </html>