<!DOCTYPE html><div class="div">
    <form method="post" id="form" name="form" action="action.php">
       <table>
           <tr>
               <h3>ADD ITEM</h3>
           </tr>

           <tr>
               <td>
                   <div>
                           <label>Description:</label></br>
                           <input type="text" name="" placeholder="Enter description here" size="22px" class="box">
                   </div>
               </td>
           </tr>

               <td>
                   <div class="submit">
                           <input type="submit" value="ADD" class="add">
                    </div>
                </td>
       </table>
    </form>
</div>