
body{
font-family: 'Courier New', Courier, monospace;
background: rgba(0,0,0,0.7) url(../images/1920x1200\ \(1\)_3.jpg);
    background-repeat: none;
    background-size: cover;
    background-blend-mode: darken;
}  
body::before{
    background-color: rgba(0,0,0,0.1);
}   
.something{
    opacity: 0.1;
}
*{
    margin: 0px;
    padding: 0px; 
}


header, footer{
    position:absolute;
    background-color:transparent;
    width: 100%;
    color: black;
}
header h2{
    position:absolute;
    margin-top: 20px;
    left:20%
}
header{
    height: 7vh;

}
footer{
    height: 10vh;
    bottom: 0px;
    color: white;
}
footer h3{
    left: 5%;
    position: absolute;
    margin-top: 30px;

}
.hr{
    background-color: rgb(0, 0, 0);
    height: 3px;
    border:none;
    
}

h1{
    text-align: center;
    background-color:transparent;
    color:rgb(5, 180, 180);
    padding: 30px;
    font-family: algerian;
    font-size: 70px;
}
.nav{
    position:absolute;
    width: 100%;
    
    
}
.nav a{
    position: relative;
    text-decoration:none;
    color: white;
    top: 30px;
    left: 60%;
    margin-right: 20px;
    font-family: helvetica;
    font-size: larger;  
    transition: 0.5s;
      
    
}
.nav a:hover{
    background-color: rgb(5, 180, 180);
    border:solid 1px rgb(5, 180, 180);
    border-radius: 50px;
    padding:10px 10px;
}



.hover{
    text-decoration: underline;
}
.ah2{
    text-decoration: none;
}
/* .a:active{
    text-decoration: none;
    color: white; */

.logo {
    cursor: pointer;

  }
  
  .logo a {
    text-decoration: none;
    color: #000000;
  }
.btn:hover{
    color: white;
    background-color: rgb(0, 143, 143);
    }
.btn:active{
        background-color: rgb(1, 94, 94);
    }
  

.getButton{
    background: none;
    background-color: rgb(5, 180, 180);
    border: 1px solid rgb(5, 180, 180);
    padding: 30px 40px;  
    color :black  ;
    font-size: 20px;
    font-family: "times new roman";
    font-weight: 700;
    cursor: pointer;
    margin :10px;
    transition: 0.8s;
    position :relative;
    overflow: hidden;
    border-radius: 50px;
}

.container {
    text-align: center;
    margin-top: 350px;
}

.review{
    text-align: right;
    
}
.but  {
	cursor: pointer;
	margin-right: 30px;
	background-color: rgb(5, 180, 180);
	font-family:  'Montserrat', sans-serif;
	font-weight: 700;
	color: black;
	border: 10px solid rgb(5, 180, 180);
	border-radius: 50px;
	height:40px;
	outline: none;
    padding: 0px;
    transition: 0.8s;
}
.but:hover{
    color: white;
    background-color: rgb(0, 143, 143);
}
.but:active{
    background-color: rgb(1, 94, 94);
}
.h1align{
    text-align: center;
}






